<input type="file" id="logo" onchange="uploadImage(#{if object}${object.id}#{/if}#{else}0#{/else})" name="logo"/>
<input type="hidden" id="logo_id" name="logo_id" value="${object?.filesIds}">
<span id="div_logo"></span>
<div id="logoDiv">
    <div class="row-fluid">
        <div class="thumbnail span3 offset2" id="mainLogo">
            <style>
                .filetable td{
                    border:1px solid #aaa;padding:10px 10px;
                }
            </style>
            <table class="filetable">
                #{list items:object?.files, as: "i"}
                <tr id="icon-${i.id}">
                    <td>
                        <a href="/public/images/upload/${i.filename}">${i.title}</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" onclick="removeImage(${i.id})">Удалить</a>
                    </td>
                </tr>
                #{/list}
            </table>
        </div>
    </div>
</div>

#{set 'scripts'}
#{get 'scripts'/}
<script type="text/javascript">
    function removeImage(id){
        console.log("trying to remove icon: "+id);
        $.ajax({
            type: 'POST',
            url: '@{Control.removeImage()}?id='+id,
            success: function(imgUrl)
            {
                $("#icon-"+id).hide();
                var logo = $("#logo_id").val();
                if (logo.indexOf(",")==-1){
                    $("#logo_id").val("");
                }else{
                    if (logo.indexOf(","+id)==-1){
                        $("#logo_id").val(logo.replace(","+id,""));
                    }else{
                        $("#logo_id").val(logo.replace(id+",",""));
                    }
                }
            }
        });
    }
    function uploadImage(obj_id)
    {
        $("#div_logo").html("<span style='color:#5566aa;'>Загружаю</span>");
        var id = "logo";
        //Загружаем фото на сервер
        $.ajaxFileUpload({ 
            url:'@{Control.fileUpload}',
            secureuri:false,
            fileElementId:id,
            dataType: 'script',
            success: function (imageId, status)
            {
                //Получили id FileEntity
                $("#div_"+id).html("<span style='color:#5566aa;'>Загружено</span>");
                //Присваиваем его в logo_id, что бы при submit это передалось на сервер и что бы там записать его 
                var l = $("#logo_id").val();
                if (l.length>0){
                    l += ",";
                }
                $("#logo_id").val(l+imageId);
                //Получаем урл-ку картинки
                $.ajax({
                    type: 'POST',
                    url: '@{Control.getFilenameById()}?id='+imageId,
                    success: function(imgUrl)
                    {
                        var filename = imgUrl.split(";")[0];
                        var title = imgUrl.split(";")[1];
                        //Подгружаем основную картинку
                        var d = $("#mainLogo").html();
                        $(".filetable").append('<tr id="icon-'+imageId+'"><td><a href="/public/images/uploads/'+filename+'">'+title+'</a></td><td><a href="javascript:void(0);" onclick="removeImage('+imageId+')">Удалить</a></td></tr>');
                        $("#logo").val('');
                    }
                });
            },
            error: function (data, status, e)
            {
                $("#div_"+id).html('Произошла ошибка');
            }
        });
        return false;
    }  
</script>

#{/set}