<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>

    <title>Demo Chat</title>

    <link href="/public/stylesheets/bootstrap/bootstrap.css" rel="stylesheet">

    <style>
        body {
            padding: 20px;
        }

        #console {
            height: 400px;
            overflow: auto;
        }

        .username-msg {
            color: orange;
        }

        .connect-msg {
            color: green;
        }

        .disconnect-msg {
            color: red;
        }

        .send-msg {
            color: #888
        }
    </style>


    <script src="/public/javascripts/socketio/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/socketio/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script>
        var socket;

        function connect() {
            console.log('trying to connect');
            var token = $("#token").val();

            if (socket != undefined) {
                socket.disconnect();
            }

            socket = io.connect('http://207.154.201.153:9080/?token=' + token);

            socket.on('connect', function () {
                output('<span class="connect-msg">Client has connected to the server!</span>');
            });

            socket.on('chatevent', function (data) {
                output('<span class="username-msg">' + data.userName + ':</span> ' + data.message);
            });

            socket.on('disconnect', function () {
                output('<span class="disconnect-msg">The client has disconnected!</span>');
            });

        }

        function sendDisconnect() {
            socket.disconnect();
        }


        function sendMessage() {
            var message = $('#msg').val();
            $('#msg').val('');

            var jsonObject = {
                userName: userName,
                message: message
            };
            socket.emit('chatevent', jsonObject);
        }

        function output(message) {
            var currentTime = "<span class='time'>" + moment().format('HH:mm:ss.SSS') + "</span>";
            var element = $("<div>" + currentTime + " " + message + "</div>");
            $('#console').prepend(element);
        }

        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                $('#send').click();
            }
        });

        $(document).ready(function (e) {
            //connect();
            $("#connect").on('click', function () {
                connect();
            })
        });


    </script>
</head>

<body>

<h1>Netty-socketio Demo Chat</h1>

<br/>

<div id="console" class="well">
</div>

<form class="well form-inline" onsubmit="return false;">
    <input id="msg" class="input-xlarge" type="text" placeholder="Type something..."/>

    <button type="button" onClick="sendMessage()" class="btn" id="send">Send</button>
</form>


<form class="well form-inline" onsubmit="return false;">
    <input id="token" class="input-xlarge" type="text" value="token-de483b16-c239-4acd-92d9-6ec784a19082"/>

    <button type="button" onClick="sendDisconnect()" class="btn">Disconnect</button>
    <button type="button" class="btn" id="connect">Connect</button>
</form>

</body>

</html>
