<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FeedBook Личный Кабинет</title>
    <link rel="shortcut icon" href="/favicon.ico" type="icon/x-icon">
    <link rel="stylesheet" href="/theme/styles/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<body class="body-err app">
<div id="content" class="content-container" style="min-height: 100%;overflow: hidden;">
    <div style="text-align:center;margin-top:150px;font-size:20px;">
        <img src="/public/feedbook.svg" width="320px" style="margin-bottom:55px"/>
        <p>Спасибо за активацию вашей компании. Сейчас мы перенаправим вас в личный кабинет</p>
        <p>Если этого не произошло, нажмите на ссылку <a href="https://feedbook.kz/cabinet">Личный кабинет</a></p>
    </div>
</div>

<script>
    window.setTimeout(function() {
        window.location.href = 'https://feedbook.kz/cabinet';
    }, 5000);
</script>
</body>
</html>


