<div style="text-align:justify">
    <p><strong>Условия предоставления услуг</strong></p>
    <p>ТОО &laquo;Smart Future&raquo;, (далее Исполнитель и/или Компания) публикует данный договор (Соглашение) об
        оказании услуг/продукт Ubet.kz.</p>
    <p>В соответствии со статьей 387 Гражданского Кодекса РК (ГК Республики Казахстан) данное Соглашение является
        публичным договором, и в случае принятия (акцепта) изложенных ниже условий любое дееспособное физическое или
        юридическое лицо (далее Пользователь) обязуется выполнять условия этого Соглашения.</p>
    <p>Настоящее Пользовательское соглашение регулирует отношения между ТОО &laquo;Smart Future&raquo; (&laquo;Ubet&raquo;)
        и пользователем приложения (&laquo;Пользователь&raquo;), возникающие при использовании интернет-ресурса и
        приложении www.ubet.kz (Ubet.kz), на указанных в Пользовательском соглашении условиях.</p>
    <p>Полным и безоговорочным принятием данного предложения Ubet в адрес Пользователя о заключении Соглашения является
        совершение Пользователем действий, направленных на использование Ubet.kz, в том числе, поиск, просмотр или
        подача объявлений, регистрация, оставление комментариев, направление сообщений через форму связи и прочие
        действия по использованию функциональности Ubet.kz.</p>
    <p>Пользовательское соглашение может быть изменено Ubet в любое время без какого-либо специального уведомления
        Пользователя. Новая редакция Пользовательского соглашения вступает в силу с момента ее размещения на Ubet.kz,
        если Ubet прямо не указано иное. Регулярное ознакомление с действующей редакцией Пользовательского соглашения
        является обязанностью Пользователя.</p>
    <p>Использование Ubet.kz после вступления в силу новой редакции Пользовательского соглашения означает согласие с ней
        Пользователя и применение к нему в полном объеме положений новой редакции.</p>
    <p>Действующая редакция настоящего Пользовательского соглашения доступна по адресу
        http://ubet.kz/content/termsandconditions.</p>
    <ol>
        <li><strong> Термины и определения</strong></li>
    </ol>
    <p>В настоящем Пользовательском соглашении термины, указанные ниже, имеют следующее значение:</p>
    <p>Ubet &mdash; Товарищество с ограниченной ответственностью &laquo;Smart Future&raquo;, Свидетельство о гос.
        Регистрации №XXXXX-XXXX-ТОО от&nbsp; 01.09.2016г..</p>
    <p>Ubet.kz &mdash; мобильное приложение, представляющий собой совокупность содержащихся в информационной системе
        информации и объектов интеллектуальной собственности (в том числе, программа для ЭВМ, база данных, графическое
        оформление интерфейса (дизайн) и др.), доступ к которому обеспечивается с различных пользовательских устройств,
        подключенных к сети Интернет, посредством специального программного обеспечения для просмотра приложений
        Ubet.kz.</p>
    <p>Пользователь &mdash; любое дееспособное физическое или юридическое лицо, принявшее условия данного&nbsp;Соглашения&nbsp;и
        пользующееся услугами&nbsp;Ubet.kz.</p>
    <p>Исполнитель&nbsp;- ТОВАРИЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &laquo;Smart Future&raquo;, юридический адрес:
        Республика Казахстан, 010000, г.Алматы пр. ХХХХХХХХХХХХХХХХХ; БИН ХХХХХХХХХХХХ</p>
    <p>Пользовательское соглашение &mdash; настоящее Соглашение, Правила размещения объявлений, расположенные по адресу
        http://ubet.kz/content/termsandconditions и иные правила и документы, регламентирующие работу Ubet.kz или
        определяющие порядок использования Сервисов, опубликованные на Сайте.</p>
    <p>Сервисы &mdash; функциональные возможности, услуги для удовлетворения личных потребностей заказчика, инструменты,
        доступные для Пользователей на Ubet.kz.</p>
    <p>Мобильное приложение &mdash; программное обеспечение для портативных (мобильных) устройств, установленное или
        загружаемое Пользователем на такие устройства с помощью различных программных платформ, предназначенное для
        доступа к Ubet.kz.</p>
    <p>Товар &mdash; объявление об аренде/продаже недвижимости, который Пользователь размещает на Ubet.kz.</p>
    <p>Объявление &mdash; информационное сообщение с предложением о Товаре (включая контактную информацию, фотографии и
        любую сопутствующую информацию), размещаемое Пользователем на Ubet.kz, адресованное неопределенному кругу
        лиц.</p>
    <p>Продавец &mdash; Пользователь Ubet.kz с предложением заключить сделку в отношении Товара после просмотра
        Объявления размещенного Покупателем.</p>
    <p>Покупатель/Клиент &mdash; Пользователь, размещающий Объявления и заключающий сделку с Продавцом.</p>
    <p>Персональные данные&nbsp;- это сведения или совокупность сведений о физическом лице (ФИО, ИИН, контактный номер
        телефона, справка о несудимости) , которое при их помощи идентифицировано.</p>
    <p>Регистрация &mdash; принятие&nbsp;Пользователем&nbsp;данного&nbsp;Соглашения&nbsp;и процедура, в ходе которой&nbsp;Пользователь
        посредством заполнения соответствующих форм&nbsp;приложении&nbsp;предоставляет необходимую информацию для
        использования сервисов&nbsp;приложения. Регистрация считается завершенной только в случае успешного прохождения
        всех ее этапов в соответствии с инструкциями Ubet.kz.</p>
    <ol start="2">
        <li><strong> Общие положения</strong></li>
    </ol>
    <p>2.1. Ubet предлагает Пользователю на условиях настоящего Пользовательского соглашения воспользоваться доступными
        на Ubet.kz Сервисами, включая размещение, поиск и просмотр Объявлений и иными предлагаемыми Ubet.kz Сервисами. В
        отношении использования отдельных Сервисов Ubet могут быть установлены дополнительные условия, правила и
        ограничения. Ubet вправе в любое время пересматривать или изменять условия предоставления Сервисов, дополнять,
        изменять, ограничивать, расширять функциональные возможности приложения или Сервисов, в том числе условия
        доступа Пользователя к Сервисам или отдельным функциональным возможностям приложения.</p>
    <p>2.2. Сервисы предоставляются Пользователю бесплатно.</p>
    <p>2.3. Приложение Ubet.kz является площадкой, позволяющей Покупателям самостоятельно искать потенциального Продавца
        под свою ответственность, заключая соответствующую сделку с Продавцом.</p>
    <p>Ubet не является организатором сделки, Покупателем, Продавцом, посредником, агентом или представителем
        какого-либо Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между
        Пользователями сделки. Все совершаемые благодаря размещению Объявления в приложении сделки между Пользователями
        заключаются и исполняются без прямого или косвенного участия Ubet.</p>
    <p>2.4. Независимо от факта Регистрации или авторизации Пользователя в приложении, включая просмотр размещенной в
        приложении информации, означает согласие Пользователя с настоящим Пользовательским соглашением и принятие на
        себя обязательств следовать инструкциям по использованию Сервисов, а также ответственности за действия,
        связанные с использованием&nbsp; приложения.</p>
    <p>2.5. Предоставляемые на Ubet.kz Сервисы в любой момент могут изменяться, дополняться, обновляться, менять форму и
        характер функциональных возможностей без предварительного уведомления Пользователя, в связи с чем, их
        использование предлагается в режиме &laquo;как есть&raquo;, т.е. том виде и объеме, в каком они предоставляются
        Ubet в момент обращения к Сервисам Пользователей. Ubet вправе при необходимости по собственному усмотрению
        прекратить (временно или окончательно) предоставление Сервисов (или каких-либо отдельных функций в рамках
        Сервисов) всем Пользователям в целом или отдельному Пользователю, в частности, без предварительного
        уведомления.</p>
    <ol start="3">
        <li><strong> Регистрация</strong></li>
    </ol>
    <p>3.1. При Регистрации указываются Персональные данные, которые Пользователь несет ответственность за достоверность
        персональных данных. После внесения данных для Регистрации Пользователь получает код авторизации в виде SMS
        сообщений на номер мобильного устройства, указанный при Регистрации. Регистрация осуществляется на один номер
        телефона Пользователя однократно. Повторная Регистрация новой учетной записи в приложении с использованием ранее
        указанного при Регистрации номера не допускается.</p>
    <p>3.2. Ubet вправе использовать доступные технические решения для проверки правильности информации, предоставляемой
        Пользователем при использовании Ubet.kz. Ubet не может гарантировать, что Пользователь действительно является
        тем, кем представляется, а также что информация, предоставленная Пользователем на Ubet.kz, соответствует
        действительности.</p>
    <p>3.3. Ubet вправе заблокировать доступ Продавца к приложению с одновременным прекращением просмотра Объявлений или
        без такового при нарушении Продавца условий настоящего Соглашения и/или правил размещения объявлений. Ubet
        вправе в любое время прекращать и/или ограничить доступ Пользователя к Сервисам, а также заблокировать или
        удалить учетную запись Пользователя в приложение без возможности ее восстановления.</p>
    <ol start="4">
        <li><strong> Сведения, предоставляемые Пользователем</strong></li>
    </ol>
    <p>4.1. В рамках использования Ubet.kz Пользователь обязуется предоставлять только достоверные Сведения и
        самостоятельно несет полную ответственность за предоставленную им информацию. Пользователь обязуется
        своевременно актуализировать Сведения посредством их редактирования на Ubet.kz. Ubet вправе запрашивать, а
        Пользователь обязан предоставлять по такому запросу документы и информацию, необходимые для определения
        Пользователя как стороны Пользовательского соглашения и/или стороны, использующей соответствующий Сервис, а
        также документы, подтверждающие достоверность представленных Сведений и правомерность использования/предложения
        Товара и/или связь Пользователя с указанным в Объявлении Товаром.</p>
    <p>4.2. В процессе пользования Сервисами Ubet.kz (в том числе при Регистрации, взаимодействии с другими
        Пользователями через интерфейс Ubet.kz, размещении Объявлений и т.п.), Пользователь самостоятельно и добровольно
        принимает решение о предоставлении Ubet или размещении в открытом доступе персональных и иных сведений о
        Пользователе (фамилия, имя, отчество или псевдоним Пользователя, адрес электронной почты, номер мобильного
        телефона, а также любая иная информация, предоставленная Пользователем, в том числе содержащаяся в сообщениях,
        направляемых другим Пользователям через форму обратной связи в интерфейсе Ubet.kz, и комментариях, отправляемых
        через форму добавления комментария к Объявлению и пр.) для целей исполнения Пользовательского соглашения, а
        также настоящим заявляет о своем согласии на обработку Ubet персональных и иных данных Пользователя, в том числе
        для целей: предоставления консультационной поддержки Пользователям в связи с использованием приложения, проверки
        Объявлений на предмет соответствия Пользовательскому соглашению, доставки сообщений другим Пользователям,
        получения статистических и аналитических данных для улучшения функционирования Ubet.kz и/или Сервисов,
        расширения спектра оказываемых Сервисов, получения информационных сообщений Ubet или третьих лиц, предупреждения
        или пресечения незаконных и/или несанкционированных действий Пользователей или третьих лиц, обеспечения
        соблюдения требований действующего законодательства Республики Казахстан. Ubet принимает все необходимые меры
        для защиты персональных данных Пользователя от несанкционированного доступа третьих лиц.</p>
    <p>4.3. Вся информация (независимо от того относится ли такая информация законодательством Республики Казахстан к
        персональным или иным данным, подлежащим защите в соответствии с законодательством Республики Казахстан, или
        нет), размещенная Пользователем на Ubet.kz, размещается им для реализации Пользователем его имущества и/или
        услуг и/или в иных интересах Пользователя и, соответственно, Пользователь размещает ту или иную информацию о
        себе исключительно в своих интересах, в том числе для облегчения установления связи с Пользователем.</p>
    <p>Размещая на Ubet.kz Объявления, Пользователь делает Сведения, указанные в Объявлении, общедоступными и понимает,
        что размещенная информация публикуется на Ubet.kz в открытом доступе, то есть доступна для ознакомления любому
        посетителю Ubet.kz, соответственно Пользователь понимает и принимает на себя все риски, связанные с таким
        размещением информации, в том числе, включая, но не ограничиваясь: риск попадания телефонного номера к
        SMS-спамерам и/или SMS-мошенникам и иные риски, вытекающие из такого размещения информации.</p>
    <p>4.4. Ubet не обязано осуществлять предварительную проверку Сведений любого вида, размещаемых и/или
        распространяемых Пользователем посредством Ubet.kz. Ubet имеет право по своему усмотрению отказать Пользователю
        в размещении и/или распространении им любых Сведений или удалить любые Сведения, которые размещены Пользователем
        на Ubet.kz. Пользователь осознает и согласен с тем, что он должен самостоятельно оценивать все риски, связанные
        с размещением и распространением любых Сведений, включая оценку надежности, полноты или полезности такового.</p>
    <ol start="5">
        <li><strong> Обязательства Пользователя</strong></li>
    </ol>
    <p>5.1. Пользователь обязуется действовать исключительно в соответствии с действующим законодательством и
        Пользовательским соглашением Ubet.kz, а также нести в соответствии с законодательством Республики Казахстан
        полную ответственность за собственные действия и бездействие на Ubet.kz и при использовании Сервисов.</p>
    <p>5.2. Доступные Пользователю Сервисы Ubet.kz могут быть использованы исключительно в целях, для которых такие
        Сервисы предназначены Ubet. Пользователю запрещается использовать Сервисы, а также любую полученную в приложении
        информацию не по назначению.</p>
    <p>Ubet вправе в любое время по своему усмотрению проводить выборочную проверку Объявлений, и/или условий
        использования Пользователями Сервисов на предмет соблюдения Пользовательского соглашения, в том числе в
        автоматическом режиме с использованием программных средств. В случае выявления нарушений, а также при получении
        информации от третьих лиц о таких нарушениях или выявлении совокупности признаков, которые могут
        свидетельствовать по мнению Ubet о нарушениях, Ubet вправе приостанавливать или прекращать доступ Пользователя к
        тем или иным Сервисам, включая отклонение или блокирование Объявления и/или доступа к приложению.</p>
    <p>5.3. Пользователь также обязуется:</p>
    <ul>
        <li>не предпринимать никаких действий, которые могут привести к непропорционально большой нагрузке на
            инфраструктуру Ubet.kz;
        </li>
        <li>не копировать, не воспроизводить, не изменять, не распространять и не представлять общественности любую
            информацию, содержащуюся на Ubet.kz (кроме Сведений, предоставленных самим Пользователем) без
            предварительного письменного разрешения Ubet и любой третьей стороны;
        </li>
        <li>не препятствовать работе Ubet.kz, а также не препятствовать действию автоматических систем или процессов, с
            целью заблокировать или ограничить доступ на Ubet.kz.
        </li>
    </ul>
    <p>5.4. В целях пресечения или предотвращения нарушения Пользовательского соглашения и/или причинения ущерба Ubet
        (например, DDoS-атаки или иные хакерские атаки, неавторизованное Ubet использование программных средств, в том
        числе для загрузки Объявлений и прочее), Ubet вправе ограничивать доступ Пользователей или третьих лиц к Ubet.kz
        путем блокирования доступа к Ubet.kz соответствующего ip-адреса или диапазона ip-адресов.</p>
    <p>5.5. Пользователь Ubet.kz обязуется не использовать любые данные, предоставленные другим Пользователем, без
        письменного разрешения лица, разместившего такие Сведения, или без подтверждения каким-либо другим способом
        права использовать такие Сведения. Все сведения, полученные Пользователем о других Пользователях в связи с
        использованием Ubet.kz, могут быть использованы только для совершения и исполнения сделок в отношении Товаров.
        Таким образом, Пользователю запрещается использовать электронный адрес, и/или номер телефона другого
        Пользователя для целей прямой рекламной рассылки или другой рассылки нежелательных электронных сообщений, а
        также для иных противоправных действий или действий, совершаемых без ведома и/или согласия другой стороны.</p>
    <p>5.6. Если у Пользователя возникают претензии к другому Пользователю в связи с использованием последним Сервисов
        и/или размещенными им Объявлениями, Пользователь обязан предъявлять эти требования надлежащему лицу (Продавцу) и
        разрешать претензии самостоятельно и без участия Ubet.</p>
    <p>5.7. Пользователь понимает и принимает, что Ubet не всегда проверяет информацию, опубликованную на Ubet.kz
        Пользователями. Некоторые данные, содержащиеся в Объявлениях, могут показаться оскорбительными, опасными,
        неправильными или вводящими в заблуждение. Ubet рекомендует Пользователям соблюдать осторожность и полагаться на
        здравый смысл при использовании информации на Ubet.kz. Пользователь должен принять во внимание, что его
        контрагент может выдавать себя за другое лицо, быть несовершеннолетним, размещать искаженную информацию и т.д.
        Использование Сервисов подразумевает, что Пользователь осознает и принимает эти риски, а также соглашается, что
        Ubet не несет ответственности за действия или бездействие со стороны других Пользователей.</p>
    <ol start="6">
        <li><strong> Обмен информацией при использовании Приложений</strong></li>
    </ol>
    <p>6.1. Сообщения Ubet, предназначенные для Пользователей, публикуются для всеобщего доступа на Ubet.kz. При этом
        Пользователь понимает, принимает и соглашается, что рассылаемые сообщения и/или их отдельные части могут иметь
        рекламный характер, а также могут содержать рекламные, информационные и иные сообщения контрагентов Ubet.
        Сообщения, опубликованные на Ubet.kz, считаются доставленными Пользователю с момента их публикации.</p>
    <ol start="7">
        <li><strong> Гарантии и ответственность</strong></li>
    </ol>
    <p>7.1. Пользователь несет ответственность за действия, совершаемые в приложении, в соответствии с действующим
        законодательством Республики Казахстан, включая ответственность за содержание размещаемой им информации и
        нарушение прав третьих лиц в отношении Товаров и/или информации, размещаемой в приложении.</p>
    <p>7.2. Пользователь несет ответственность за предлагаемые в отношении Товаров и заключаемые в связи с ними сделки,
        за выбор контрагентов для сделки и вытекающие из сделки последствия. Все сделки в отношении Товаров заключаются
        между Пользователями напрямую. Ubet не является участником и/или посредником сделок, совершаемых Пользователями
        исходя из информации, полученной на Ubet.kz, не контролирует и не несет ответственности за такие сделки.</p>
    <p>7.3. Ubet.kz является инструментом, который предоставляет возможность Пользователям размещать Объявления в
        отношении Товаров, реализация и/или приобретение которых разрешены законом и Пользовательским соглашением. При
        этом Ubet не всегда проверяет Объявления, размещенные Пользователями. Таким образом, качество, безопасность,
        законность и соответствие Товара его описанию, а также возможность Продавца сдать/продать и/или Покупателя
        арендовать/приобрести Товар находятся вне контроля Ubet. В связи с чем, Ubet не несет ответственность за
        содержание информации, предоставляемой Пользователями, включая содержание Объявлений, использование
        Пользователями товарных знаков, логотипов третьих лиц и условий предложения Продавца.</p>
    <p>7.4. Учитывая принципы построения и функционирования сети Интернет, Сервисы предоставляются &laquo;как есть&raquo;,
        это означает, что Ubet не предоставляет каких-либо гарантий в отношении Сервисов, в частности, Ubet не
        гарантирует Пользователю, что:</p>
    <ul>
        <li>Сервисы, их прямой или косвенный эффект и качество будут соответствовать требованиям и целям Пользователя;
        </li>
        <li>Сервисы будут предоставляться непрерывно, надежно и без ошибок;</li>
        <li>Результаты, которые будут получены посредством использования Сервисов, будут точными, надежными и
            соответствовать ожиданиям Пользователя.
        </li>
    </ul>
    <p>7.5. Пользователь согласен, что Ubet не несет ответственности за возможные убытки, причиненные Пользователю в
        связи с принятием мер пресечения или предотвращения нарушений на Ubet.kz, связанных с ограничением/блокировкой
        доступа Пользователей к приложению, а также ip-адресов согласно п.5.6. настоящего Пользовательского
        соглашения.</p>
    <p>7.6. Пользователь принимает и согласен, что предоставленная Ubet возможность направления сообщения Пользователю
        посредством формы связи и/или формы добавления комментария в приложении может быть использована любыми третьими
        лицами в целях, отличных от совершения сделки с Пользователем без какого-либо влияния и контроля со стороны
        Ubet. В связи с этим, Ubet не несет ответственности за пользование другими Пользователями и/или
        автоматизированными системами (роботами) размещенной на Ubet.kz формой для отправки сообщений Пользователям
        и/или формы добавления комментария, равно как и за пользование ими телефонными номерами, размещенными
        Пользователем в Ubet.kz.</p>
    <p>7.7. Ubet не несет ответственности за неисполнение или затруднения в исполнении обязательств в следствие действия
        обстоятельств непреодолимой силы, последствия которых невозможно избежать или преодолеть.</p>
    <p>7.8. Ubet никак не связано с любой предоставляемой Пользователем информацией, включая содержание Объявлений,
        предоставленной и/или размещенной Пользователями в Ubet.kz, и не обязано осуществлять проверку содержания,
        подлинности и безопасности такой информации либо ее компонентов, а равно ее соответствие требованиям
        действующего законодательства и наличия у Пользователей необходимого объема прав на ее распространение и/или
        использование.</p>
    <p>7.9. Размещаемые Пользователями Сведения могут содержать ссылки на сайты в сети Интернет (сайты третьих лиц).
        Указанные третьи лица и содержание их сайтов, равно как и любая информация третьих лиц не проверяются Ubet на
        соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). Ubet не несет ответственности
        за любую информацию, материалы, размещенные в приложении третьих лиц, к которым Пользователь получает доступ в
        связи с использованием Ubet.kz, а также за доступность таких сайтов или информации и последствия их
        использования Пользователем.</p>
    <ol start="8">
        <li><strong> Интеллектуальные права</strong></li>
    </ol>
    <p>8.1. Обладателем исключительных прав на Ubet.kz, включая, но не ограничиваясь на доменное имя, размещенный на
        Сайте логотип, товарный знак Ubet.kz, базы данных, все технические разработки, позволяющие осуществлять
        использование приложения является Ubet. Пользователь или иное лицо не вправе использовать Ubet.kz, Мобильные
        приложения или Сервисы способами, не предусмотренными настоящим Пользовательским соглашением без письменного
        разрешения Ubet, в том числе извлекать Сведения в любой форме не предусмотренными Пользовательским соглашением
        способами.</p>
    <p>Исключительные права на результаты интеллектуальной деятельности, включенные в состав Сведений, предоставленных
        Пользователями, принадлежат соответствующим Пользователям и правообладателям.</p>
    <p>8.2. В целях исполнения настоящего Пользовательского соглашения, проведения конкурсов, акций, анонсирования и
        информирования Пользователей и иных подобных мероприятий, осуществления законных прав и интересов Ubet и
        обеспечения функционирования Ubet.kz, Пользователь предоставляет Ubet действующее повсеместно, бессрочное право
        использовать Сведения (включая фотографии, тексты описаний объявление&nbsp; и &nbsp;прочее) любым способом на
        всех известных или неизвестных информационных носителях в течение всего срока действия исключительного права, а
        также передавать такое право третьим лицам. Пользователь разрешает использование материалов в составе Сведений
        без указания имени автора, а также гарантирует, что предоставленные Сведения не нарушают любых прав третьих лиц,
        в том числе исключительных прав.</p>
    <ol start="9">
        <li><strong> Срок действия Пользовательского соглашения и прекращение оказания услуг</strong></li>
    </ol>
    <p>9.1. Настоящее Пользовательское соглашение вступает в силу с момента начала использования Пользователем Сервисами
        Ubet.kz, независимо от факта Регистрации Пользователя или размещения Объявления на Ubet.kz, и действуют
        бессрочно.</p>
    <p>Ubet оставляет за собой право по собственному усмотрению прекратить доступ Пользователя, нарушающего настоящее
        Пользовательское соглашение, а также условия любого из Сервисов, иных правил, регламентирующих функционирование
        Ubet.kz, к Сервисам как в целом, так и в части, в том числе прекратить или временно приостановить доступ
        Пользователя в приложению. Пользователь, доступ которого к Сервисам был прекращен, или Сведения которого
        перестали быть действительными, не имеет права создавать новую учетную запись в приложение повторно (в том числе
        с использованием указанного Пользователем ранее на Ubet.kz номер мобильного телефона) без особого разрешения
        Ubet. Пользователь не имеет права использовать для доступа на Ubet.kz персональные данные другого
        Пользователя.</p>
    <ol start="10">
        <li><strong> Прочие условия </strong></li>
    </ol>
    <p>10.1. При разрешении всех споров по настоящему Пользовательскому соглашению применяется действующее
        законодательство Республики Казахстан.</p>
    <p>10.2. Ввиду безвозмездности использования Сервисов, предоставляемых Пользователю в рамках настоящего
        Пользовательского соглашения, положения законодательства о защите прав потребителей не подлежат применению к
        отношениям между Пользователем и Ubet.</p>
    <p>10.3. Все споры, возникшие в рамках настоящего Соглашения, разрешаются Сторонами проведением переговоров. В
        случае невозможности урегулировать спор путем проведения переговоров, споры разрешаются в судебном порядке,
        предусмотренном действующим законодательством Республики Казахстан.</p>
    <p>10.4. Признание отдельных частей настоящего Пользовательского соглашения недействительными не отменяет действие
        других положений настоящего Пользовательского соглашения.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>