<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Публичная оферта</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/public/site/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/site/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/site/css/responsive.css" />
    <link rel="stylesheet" href="/public/site/css/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/site/css/jquery.fancybox-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/site/css/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/site/css/jquery-ui.min.css">
</head>
<body class="body">
<div id="fullpage">

    <div class="offer-page-content">

    <div style="text-align:center;font-weight:bold;">1. 1. Общие положения</div>
        <br>
        1.1. Внимательно ознакомьтесь с текстом публичной оферты, и если Вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от использования Услуг, предоставляемых Исполнителем.
        <br>
        1.2. В соответствии со статьей 395 Гражданского Кодекса Республики Казахстан (далее - ГК РК) данный документ является публичной офертой, и в случае принятия изложенных ниже условий физическое лицо, производящее акцепт этой оферты, осуществляет оплату Услуг Исполнителя в соответствии с условиями настоящего Договора. В соответствии с пунктом 3 статьи 396 ГК РК, оплата Услуг Пользователем является акцептом оферты, что считается равносильным заключению Договора на условиях, изложенных в оферте.
        <br>
        1.3. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:
        <br>
        • «Оферта» — публичное предложение Исполнителя, адресованное любому юридическому лицу, заключить с ним договор купли-продажи (далее — «Договор») на существующих условиях, содержащихся в Договоре, включая все его приложения.
        <br>
        • « Исполнитель» — компания, реализующая Услуги, представленные на интернет-сайте feedbook.kz.
        <br>
        • « Пользователь» — компания, заключившая с Исполнителем Договор на условиях, содержащихся в Договоре.
        <br>
        • «Акцепт» — полное и безоговорочное принятие Пользователем условий Договора.
        <br>
        • «Услуга» — перечень услуг, оказываемых Исполнителем, представленный на интернет-сайте feedbook.kz.
        <br>
        • «Заявка» — выбор Пользователем отдельных позиций из перечня Услуг, опубликованных Исполнителем на интернет-сайте feedbook.kz.
        <br>
        • «Сайт» – совокупность электронных документов (файлов) Исполнителем, доступных в сети Интернет по адресу feedbook.kz.
        <br><br>
        <div style="text-align:center;font-weight:bold;">2. Предмет договора</div>
        <br>
        2.1. Исполнитель продоставляет Услуги в соответствии с действующим прейскурантом, опубликованным на интернет-сайте Исполнителя, а Пользователь производит оплату и принимает Услугу в соответствии с условиями настоящего Договора.
        <br>
        2.2. Настоящий Договор и все приложения к нему являются официальными документами Исполнителя и неотъемлемой частью Оферты.
        <br>
        <div style="text-align:center;font-weight:bold;">3. Размещение Заявки</div>
        <br>
        3.1. Заявка на Услуги осуществляется Пользователем через интернет-сайт feedbook.kz.
        <br>
        3.2. При регистрации (размещении) Заявки на интернет-сайте Исполнителя, Пользователь обязуется предоставить регистрационную информацию о себе.
        <br>
        3.3. Принятие Пользователем условий настоящего Договора осуществляется посредством внесения Пользователем соответствующих данных в регистрационную форму на интернет-сайте.
        <br>
        Пользователь имеет право редактировать регистрационную информацию о себе. Исполнитель обязуется не сообщать регистрационные данные Пользователя на Интернет-сайте feedbook.kz, а также иную информацию, касающуюся личных данных Пользователя, лицам, не имеющим отношения к исполнению Заявки. Утвердив Заявку на выбранные Услуги, Пользователь предоставляет необходимую информацию для выполнения Услуг.
        <br>
        3.4. Пользователь несет ответственность за содержание и достоверность информации, предоставленной при размещении Заявки.
        <br>
        3.5. Все информационные материалы, представленные на сайте feedbook.kz, носят справочный характер. В случае возникновения у Пользователя вопросов, касающихся Услуг, перед размещением Заявки ему необходимо обратиться за консультацией или послать запрос на адрес электронной почты.
        <br><br>
        <div style="text-align:center;font-weight:bold;">4 Сроки исполнения Заявки</div>
        <br>
        4.1. Срок, в который Исполнитель обязуется исполнить Заявку, составляет от одного рабочего дня. Срок исполнения Заявки зависит от времени, необходимого на обработку Заявки.
        <br>
        4.2. Заявка считается исполненной в момент появления соответствующей информации в личном кабинете Пользователя.
        <br>
        4.3. В случае предоставления Пользователем недостоверной информации о его контактных данных или составе Заявки, Исполнитель за ненадлежащее исполнение Заявки ответственности не несет.
        <br><br>
        <div style="text-align:center;font-weight:bold;">5. Оплата Заявки</div>
        <br>
        5.1. Оплата исполненной Заявки по выбору Пользователя может осуществляться:
        <br>
        1) путем перечисления денежных средств на расчетный счет Исполнителя;
        <br>
        3) путем перечисления Пользователем денежных средств в режиме онлайн через систему электронных платежей следующими платежными средствами:
        - кредитные карты (VISA, MasterCard);
        <br>
        5.2. Цена на перечень Услуг отображается на интернет-сайте feedbook.kz. В случае изменения цены на выбранные Услуги, Исполнитель обязуется в кратчайшие сроки проинформировать Пользователя о таком изменении. Пользователь вправе подтвердить либо аннулировать Заявку. В случае отсутствия связи с Пользователем Заявка считается аннулированной в течение 14 (четырнадцати) календарных дней с момента размещения.
        <br>
        5.3. Цены на перечень Услуг, указанных на интернет-сайте, могут быть изменены Исполнителем в одностороннем порядке без уведомления Пользователя.
        <br>
        5.4. Оплата Пользователем самостоятельно размещенной Заявки на интернет-сайте означает согласие с Условиями настоящего Договора. День оплаты Заявки является датой заключения Договора оферты между Исполнителем и Пользователем.
        <br><br>
        <div style="text-align:center;font-weight:bold;">6. Отмена Заявки</div>
        <br>
        6.1. Пользователь оставляет за собой право отказаться от выбранных Услуг.
        <br>
        6.2. После отказа от Услуг Пользователем, Исполнитель обязуется удалить соответствующую информацию с интернет-сайта feedbook.kz
        <br>
        6.3. После оплаты Заявки денежные средства, переведенные на счет Исполнителя Пользователю не возвращаются.
        <br><br>
        <div style="text-align:center;font-weight:bold;">7. Прочие условия</div>
        7.1. Настоящим Пользователь соглашается с обязательными условиями настоящего Договора публичной оферты.
        <br>
        7.2. В соответствии с условиями настоящего Договора публичной оферты Исполнитель имеет право отказать в размещении Заявки лицам, выражающим несогласие с условиями настоящего Договора.
        <br>
        7.3. Исполнитель оставляет за собой право вносить изменения в настоящее Соглашение, всвязи с чем Пользователь обязуется регулярно отслеживать изменения в Соглашении, опубликованном на сайте feedbook.kz
    </div>
</div>
</body>
</html>