<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>CityFix - Построим Города будущего вместе</title>

<link rel='stylesheet' id='dsidx-css' href='//cdn1.diverse-cdn.com/api/combo-css/config=dsidxpress.css/3fb292'
      type='text/css' media='all'/>
<link rel='stylesheet' id='dsidxpress-icons-css'
      href='/public/theme/plugins/dsidxpress/css/dsidx-icons-ver=4.2.2.css' type='text/css' media='all'/>

<link rel='stylesheet' id='dsidxpress-unconditional-css'
      href='/public/theme/plugins/dsidxpress/css/client-ver=4.2.2.css' type='text/css' media='all'/>
<link rel='stylesheet' id='dsidxwidgets-unconditional-css'
      href='/public/theme/plugins/dsidxpress/dsidxwidgets/css/client-ver=4.2.2.css' type='text/css' media='all'/>
<link rel='stylesheet' id='contact-form-7-css'
      href='/public/theme/plugins/contact-form-7/includes/css/styles-ver=4.2.css' type='text/css' media='all'/>
<link rel='stylesheet' id='zoner-fontAwesom-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/fonts/font-awesome.min-ver=4.2.2.css'
      type='text/css' media='all'/>
<link rel='stylesheet' id='zoner-fontElegantIcons-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/fonts/ElegantIcons-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-bootsrap-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/bootstrap/css/bootstrap-ver=4.2.2.css'
      type='text/css' media='all'/>
<link rel='stylesheet' id='zoner-bootsrap-social-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/bootstrap/css/bootstrap-social-buttons-ver=4.2.2.css'
      type='text/css' media='all'/>
<link rel='stylesheet' id='zoner-bootsrap-select-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/bootstrap-select.min-ver=4.2.2.css'
      type='text/css' media='all'/>
<link rel='stylesheet' id='zoner-magnific-css-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/magnific-popup-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-slider-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/jquery.slider.min-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-owl.carousel-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/owl.carousel-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-owl.carousel-trans-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/owl.transitions-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-jgrowl-css'
      href='/public/theme/themes/cityfix/includes/theme/assets/css/jquery.jgrowl.min-ver=4.2.2.css' type='text/css'
      media='all'/>
<link rel='stylesheet' id='zoner-style-css' href='/public/theme/themes/cityfix-child/style-ver=4.2.2.css'
      type='text/css' media='all'/>
<style id='zoner-style-inline-css' type='text/css'>a {
    color: #1396e2;
}

a:hover {
    color: #2a6496;
}

a:active {
    color: #2a6496;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
    .navbar .navbar-header .navbar-brand.nav.logo {
        display: none;
    }

    .navbar .navbar-header .navbar-brand.nav.logo.retina {
        display: inline-block;
        width: 130px;
        position: absolute;
        top: 5px;
    }
}

.page-sub-page #page-content::after {
    background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(80%, #ffffff));
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 80%);
    background: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 80%);
    background: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 80%);
    background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1", endColorstr="#ffffff", GradientType=0);
}

.navigation {
    background-color: #FFFFFF;
}

.leaflet-div-icon {
    background-icon: url("/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/images/icons/marker.png");
}

.horizontal-search .search-box-wrapper {
    background-color: #1396e2;
}

.advanced-search, .advanced-search header h3, .horizontal-search .search-box-wrapper .search-box .advanced-search-toggle {
    color: #ffffff;
}

.navigation .navbar .navbar-nav > li a {
    color: #2a2a2a;
}

.navigation .navbar .navbar-nav > li:hover > a {
    color: #2a2a2a;
}

.navigation .navbar .navbar-nav > li.current_page_item > a, .navigation .navbar .navbar-nav > li.current-menu-item > a, .navigation .navbar .navbar-nav > li.current-menu-parent > a, .navigation .navbar .navbar-nav > li.current_page_parent > a, .navigation .navbar .navbar-nav > li.current-menu-ancestor > a, .navigation .navbar .navbar-nav > li.active a {
    color: #2a2a2a;
}

.navigation .navbar .navbar-nav > li .child-navigation a {
    color: #2a2a2a;
}

.navigation .navbar .navbar-nav > li .child-navigation li a:hover {
    background-color: #1396e2;
    color: #ffffff;
}

.navigation .navbar .navbar-nav > li .child-navigation > li:hover > a, .navigation .navbar .navbar-nav > li .child-navigation > li.current-menu-ancestor > a, .navigation .navbar .navbar-nav > li .child-navigation > li .child-navigation > li.current-menu-item > a, .navigation .navbar .navbar-nav > li.current-menu-ancestor > .child-navigation li.current-menu-item > a {
    background-color: #1396e2;
    color: #ffffff;
}

.navigation .navbar .navbar-nav > li .child-navigation {
    background-color: #f3f3f3;
}

.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child a:after {
    border-color: transparent transparent #f3f3f3 transparent;
}

.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child > a:after, border-color: #f3f3f3 transparent transparent

;
}
.navigation .navbar .navbar-nav > li .child-navigation li a {
    border-color: rgba(0, 0, 0, 0.1);
}

.navigation .navbar .navbar-nav > li a:after {
    background-color: #1396e2;
}

.blog-posts .blog-post .blog-post-content p, .container p {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

#page-footer .inner #footer-copyright {
    color: #ffffff;
}

#page-footer .inner #footer-copyright {
    background-color: #073855;
}

#page-footer .inner .property-thumbnail {
    background-color: #1396e2;
}

.infobox-wrapper .infobox-inner .arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 95px;
    content: "";
    bottom: -6px;
}
</style>
<link rel='stylesheet' id='js_composer_front-css'
      href='/public/theme/plugins/js_composer/assets/css/js_composer-ver=4.3.5.css' type='text/css' media='all'/>
<link rel='stylesheet' id='js_composer_custom_css-css'
      href='/public/theme/uploads/js_composer/custom-ver=4.3.5.css' type='text/css' media='screen'/>
<link rel='stylesheet' id='zoner-google-fonts-zoner_config-css'
      href='//fonts.googleapis.com/css?family=Roboto:400,30038ver=1434629346' type='text/css' media='all'/>
<script type='text/javascript' src='/public/includes/js/jquery/jquery-ver=1.11.2.js'></script>
<script type='text/javascript' src='/public/includes/js/jquery/jquery-migrate.min-ver=1.2.1.js'></script>
<script type='text/javascript'
        src='//cdn4.diverse-cdn.com/api/combo-js/config=dsidxpress.js/fdd4c0?ver=2.1.24'></script>
<script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?v=3.exp38sensor=falses38libraries=places38ver=4.2.2'></script>
<script type='text/javascript' src='https://checkout.stripe.com/checkout.js?ver=4.2.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc.php.xml-rsd.html"/>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/public/includes/wlwmanifest.xml.html"/>

<link rel='canonical' href='../../index.html'/>
<link rel='shortlink' href='../../index.html'/>
<style type="text/css">.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}</style>
<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/public/theme/plugins/js_composer/assets/css/vc-ie8.css"
      media="screen"><![endif]-->
<script type="text/javascript">
    (function (url) {
        if (/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)) {
            return;
        }
        var wfscr = document.createElement('script');
        wfscr.type = 'text/javascript';
        wfscr.async = true;
        wfscr.src = url + '&r=' + Math.random();
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(wfscr);
    })('//themes.fruitfulcode.com/zoner/wp-admin/admin-ajax.php?action=wordfence_logHuman&hid=BF36005DB4F1320D190606DC33FEFB21');
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-56748446-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<link rel="shortcut icon"
      href="/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/favicon/favicon-16x16.png"/>
<link rel="apple-touch-icon"
      href="/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/favicon/favicon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114"
      href="/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/favicon/favicon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72"
      href="/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/favicon/favicon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144"
      href="/public/theme/themes/cityfix/includes/admin/zoner-options/patterns/favicon/favicon-144x144.png">
<style type="text/css" title="dynamic-css" class="options-output">
    body {
        background-color: #ffffff;
        background-repeat: inherit;
        background-size: inherit;
        background-attachment: inherit;
    }

    body {
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        color: #5a5a5a;
        font-size: 14px;
    }

    h1 {
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        color: #5a5a5a;
        font-size: 28px;
    }

    h2 {
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        color: #5a5a5a;
        font-size: 24px;
    }

    h3 {
        font-family: Roboto;
        font-weight: 300;
        font-style: normal;
        color: #5a5a5a;
        font-size: 18px;
    }

    h4 {
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        color: #5a5a5a;
        font-size: 14px;
    }

    h5 {
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        color: #5a5a5a;
        font-size: 14px;
    }

    h6 {
        font-family: Roboto;
        font-weight: 400;
        font-style: normal;
        color: #5a5a5a;
        font-size: 14px;
    }

    p {
        font-family: Roboto;
        text-align: inherit;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        color: #5a5a5a;
        font-size: 14px;
    }

    a {
        color: #1396e2;
    }

    a:hover {
        color: #2a6496;
    }

    a:active {
        color: #2a6496;
    }</style>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1426497881409 {
    padding-bottom: 0px !important;
    background-color: #f3f3f3 !important;
}

.vc_custom_1411654081779 {
    margin-bottom: 0px !important;
}

.vc_custom_1411654026587 {
    padding-bottom: 0px !important;
}

.vc_custom_1411654081779 {
    margin-bottom: 0px !important;
}</style>

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/public/javascripts/jquery.mask.min.js" type="text/javascript"></script>