<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Ubet | Поиск недвижимости</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/cssKit/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/cssKit/css/font-awesome.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/public/cssKit/css/owl.theme.min.css">
    <link rel="stylesheet" href="/public/cssKit/css/owl.carousel.min.css">
    <!-- Animated Css -->
    <link rel="stylesheet" href="/public/cssKit/css/animate.min.css">
    <!-- Bee 3D Css -->
    <link rel="stylesheet" href="/public/cssKit/css/bee3D.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/cssKit/css/default.css">
    <link rel="stylesheet" href="/public/cssKit/css/typography.css">
    <link rel="stylesheet" href="/public/cssKit/css/style.css">
    <link rel="stylesheet" href="/public/cssKit/css/responsive.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="/public/cssKit/icon/png" href="img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#scroll-menu" data-offset="65">
<!-- Preloader
<div class="preloader-wrap">
    <div class="preloader-inside">
        <h2><img src="/public/cssKit/img/divider.png" alt="Preloader Logo"> MobileApps</h2>
        <h4>Loading...</h4>
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- Preloader Ends -->

<!-- Header Area -->
<header id="home">
    <div class="topbar-area">
        <nav class="navbar navbar-default navbar-fixed-top" id="scroll-menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Открыть меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/public/images/logo.png" width="100px" alt="Ubet"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/#home" class="smoothscroll">Главная</a></li>
                        <li><a href="/#download" class="smoothscroll">Скачать</a></li>
                        <li><a href="/#feature" class="smoothscroll">Как это работает?</a></li>
                        <li><a href="/#screenshot" class="smoothscroll">Скриншоты</a></li>
                        <li><a href="/#contact" class="smoothscroll">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Header Area Ends -->

<!-- Hero Area  -->
<div class="container-fluid pn">
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 hidden-xs">
                    <div class="hero-left way" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="hero-left-inner"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="hero-right">
                        <div class="hero-right-inner">
                            <h1 class="hero-lead way" data-os-animation="fadeInDown" data-os-animation-delay="0s">UBET.kz</h1>
                            <p class="hero-sub-lead way" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">Проще, быстрее и дешевле!</p>
                            <p class="way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">Сделайте поиск жилья максимально удобным с мобильным приложением Ubet.kz для iOS и Android.
                                Ubet.kz это мобильное приложение, устанавливающее прямую связь между арендаторами и
                                арендодателями. Ubet.kz позволяет вам найти именно то, что
                                вам нужно.</p>

                            <a href="https://itunes.apple.com/us/app/ubet/id1126730210?ls=1&mt=8" class="btn btn-default btn-outline way"  data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                <i class="fa fa-apple"></i> App Store
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=smf.ubet" class="btn btn-default btn-outline way" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                                <i class="fa fa-android"></i> Play Market
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area Ends -->
<!-- App Download Area -->
<div class="app-download-area" id="download">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <div class="app-download-intro">
                    <div class="app-download-intro-inner">
                        <div class="section-title-2">
                            <img src="/public/images/logo.png" alt="Download Icon" class="way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <p class="thin way" data-os-animation="fadeInDown" data-os-animation-delay="0s">Скачать приложение</p>
                            <!--<h2 class="way" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">СКАЧАТЬ </h2>-->
                        </div>
                        <div class="content-area">
                            <p class="way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Загрузите приложение Ubet.kz для iOS и найдите жильё, о котором мечтали, в несколько
                                простых шагов.
                                Преимущества:
                                - доступ к тысячам предложений размещения
                                - экономия времени – с Ubet вы получаете мгновенный результат! Вам больше не
                                придется звонить риелторам, искать арендодателей на улице и заранее бронировать
                                место проживания. </p>
                            <ul class="download-brand way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                <li><a href="https://itunes.apple.com/us/app/ubet/id1126730210?ls=1&mt=8"><i class="fa fa-apple"></i></a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=smf.ubet"><i class="fa fa-android"></i></a></li>
                                *{<li><a href="/#"><i class="fa fa-windows"></i></a></li>}*
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="app-download-screen way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <div id="app-download-screen" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="col-xs-12 col-sm-12">
                                <img src="/public/images/slides/1.png" alt="Ubet Slides 1">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-12">
                                <img src="/public/images/slides/2.png" alt="Ubet Slides 2">
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-12">
                                <img src="/public/images/slides/3.png" alt="Ubet Slides 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- App Download Area Ends -->
*{<!-- Testimonial Area -->
<div class="testimonial-area way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div id="testimonial-carousel" class="owl-carousel owl-theme testimonial-carousel">
                    <div class="item">
                        <div class="col-xs-12 col-sm-12">
                            <div class="client-msg">
                                <blockquote>“Wells Reily says - Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus
                                    suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus,
                                    dapibus non”</blockquote>
                            </div>
                            <div class="client-img">
                                <img src="img/client-1.png" alt="Client Image">
                            </div>
                            <div class="client-name">
                                <h3>Wells Reily</h3><span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-12">
                            <div class="client-msg">
                                <blockquote>Anthony Lagoon - Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus
                                    suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus,
                                    dapibus non”</blockquote>
                            </div>
                            <div class="client-img">
                                <img src="img/client-2.png" alt="Client Image">
                            </div>
                            <div class="client-name">
                                <h3>Anthony Lagoon</h3><span>Photographer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-12">
                            <div class="client-msg">
                                <blockquote>Anna Yeaman - Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus
                                    suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus,
                                    dapibus non”</blockquote>
                            </div>
                            <div class="client-img">
                                <img src="img/client-3.png" alt="Client Image">
                            </div>
                            <div class="client-name">
                                <h3>Anna Yeaman</h3><span>Creative Director</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-12">
                            <div class="client-msg">
                                <blockquote>Alex Hale - Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus
                                    suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus,
                                    dapibus non”</blockquote>
                            </div>
                            <div class="client-img">
                                <img src="img/client-4.png" alt="Client Image">
                            </div>
                            <div class="client-name">
                                <h3>Alex Hale</h3><span>Programmer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-12">
                            <div class="client-msg">
                                <blockquote>Bob Wills - Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus
                                    suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus,
                                    dapibus non”</blockquote>
                            </div>
                            <div class="client-img">
                                <img src="img/client-5.png" alt="Client Image">
                            </div>
                            <div class="client-name">
                                <h3>Bob Wills</h3><span>Programmer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area Ends -->}*
<!-- App Feature Area -->
<div class="feature-area inner-padding" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-1 way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h2><span class="thin">Поиск недвижимости?</span> - <span class="greenText">Теперь это просто!</span></h2>
                </div>
                <div class="section-desc way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <p>Как часто мы ищем недвижимость по сайтам объявлений растрачивая свое время, силы и деньги? Теперь вам не нужно искать, пусть недвижимость ищет вас! :)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-item-area">
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-item push-down way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="icon-box">
                            <img src="/public/images/site/how_to_pics/2.png" alt="Анализируйте предложения">
                        </div>
                        <div class="icon-title"><h3>Получайте актуальные <span class="thin">предложения</span></h3></div>
                        <div class="icon-content">
                            <p>Риелторы со всего города будут искать самые лучшие предложения для вас</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-item way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <div class="icon-box">
                            <img src="/public/images/site/how_to_pics/1.png" alt="Подача заявки">
                        </div>
                        <div class="icon-title"><h3>Простая <span class="thin">подача заявки</span></h3></div>
                        <div class="icon-content">
                            <p>Вы вкратце описываете то, что вам нужно. Все специалисты моментально получают ваш заказ!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-item push-down way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <div class="icon-box">
                            <img src="/public/images/site/how_to_pics/1.png" alt="Выбор специалиста">
                        </div>
                        <div class="icon-title"><h3>Cамые выгодные <span class="thin">предложения</span></h3></div>
                        <div class="icon-content">
                            <p>Выберите самое выгодное предложение, просто выбрав специалиста!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-item-area">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <div class="feature-item way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="icon-box">
                            <img src="/public/images/site/how_to_pics/4.png" alt="Отличный результат">
                        </div>
                        <div class="icon-title"><h3>Отличный <span class="thin">результат</span></h3></div>
                        <div class="icon-content">
                            <p>Вот и все! Вы получили необходимую недвижимость просто и легко!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- App Feature Area Ends -->
<!-- Screenshot Area -->
<div class="screenshot-area inner-padding" id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-3 way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <h2><span class="thin">Скриншоты</span> приложения</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 screenshot-container">
                <div class='example way' data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <div class='bee3D--slide'>
                        <div class='bee3D--inner'>
                            <img height="300px" src="/public/images/slides2/1.png" alt="Mobile Slide">
                        </div>
                    </div>
                    <div class='bee3D--slide'>
                        <div class='bee3D--inner'>
                            <img height="300px" src="/public/images/slides2/2.png" alt="Mobile Slide">
                        </div>
                    </div>
                    <div class='bee3D--slide'>
                        <div class='bee3D--inner'>
                            <img height="300px" src="/public/images/slides2/3.png" alt="Mobile Slide">
                        </div>
                    </div>
                    <span class="bee3D--nav bee3D--nav__prev"> <i class="fa fa-long-arrow-left"></i> Пред. </span>
                    <span class="bee3D--nav bee3D--nav__next"> След. <i class="fa fa-long-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Screenshot Area Ends-->
*{<!-- Creative Team Area -->
<div class="creative-team-area inner-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-1 way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h2><span class="thin">CREATIVE</span> TEAM</h2>
                </div>
                <div class="section-desc">
                    <p class="way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="team-member way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <div class="team-member-header header-1"></div>
                    <div class="team-member-pic">
                        <div class="team-member-pic-inner">
                            <img src="img/team-1.jpg" alt="Team Member">
                        </div>
                    </div>
                    <div class="team-member-content">
                        <h4><span class="thin">MIDO</span> TAWFIK</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                        <ul class="team-social">
                            <li><a href="/#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="team-member way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                    <div class="team-member-header header-2"></div>
                    <div class="team-member-pic">
                        <div class="team-member-pic-inner">
                            <img src="img/team-2.jpg" alt="Team Member">
                        </div>
                    </div>
                    <div class="team-member-content">
                        <h4><span class="thin">JOHN</span> SMITH</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                        <ul class="team-social">
                            <li><a href="/#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="team-member way" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                    <div class="team-member-header header-3"></div>
                    <div class="team-member-pic">
                        <div class="team-member-pic-inner">
                            <img src="img/team-3.jpg" alt="Team Member">
                        </div>
                    </div>
                    <div class="team-member-content">
                        <h4><span class="thin">DOWN</span> WORNER</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                        <ul class="team-social">
                            <li><a href="/#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Creative Team Area Ends -->}*
*{<!-- Demo Video Section -->
<div class="demo-video-area inner-padding" id="demo-video">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-1 way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h2><span class="thin">DEMO</span> VIDEO</h2>
                </div>
                <div class="section-desc">
                    <p class="way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="demo-video-screen">
                    <div class="demo-video-player way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/59057990" class="embed-responsive-item video-player">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Demo Video Section Ends -->
<!-- Service Pricing Area -->
<div class="pricing-area inner-padding" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title-1 way" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h2><span class="thin">SERVICES</span> PRICING</h2>
                </div>
                <div class="section-desc">
                    <p class="way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pricing-table way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <div class="header text-center">
                        <h4>STANDARD</h4>
                    </div>
                    <div class="separetor"></div>
                    <div class="body">
                        <ul class="pricing text-center">
                            <li><span>Free One Year Domain</span></li>
                            <li><span>Free Installation</span></li>
                            <li><span>Free 1GB Linux Hosting</span></li>
                            <li><span>Unlimited Revision</span></li>
                            <li><span>Five Alternative Designs</span></li>
                            <li><span>Lifetime Support</span></li>
                            <li><span>Moneyback Guaranteed</span></li>
                        </ul>
                    </div>
                    <div class="separetor"></div>
                    <div class="footer text-center">
                        <p class="price">79</p>
                        <p><a href="/#" class="btn btn-default btn-outline-2">ORDER NOW</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pricing-table recomended way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                    <div class="header text-center">
                        <h4>GOLD</h4>
                    </div>
                    <div class="separetor"></div>
                    <div class="body">
                        <ul class="pricing text-center">
                            <li><span>Free One Year Domain</span></li>
                            <li><span>Free Installation</span></li>
                            <li><span>Free 1GB Linux Hosting</span></li>
                            <li><span>Unlimited Revision</span></li>
                            <li><span>Five Alternative Designs</span></li>
                            <li><span>Lifetime Support</span></li>
                            <li><span>Moneyback Guaranteed</span></li>
                        </ul>
                    </div>
                    <div class="separetor"></div>
                    <div class="footer text-center">
                        <p class="price">99</p>
                        <p><a href="/#" class="btn btn-default btn-outline-2">ORDER NOW</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pricing-table way" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                    <div class="header text-center">
                        <h4>BASIC</h4>
                    </div>
                    <div class="separetor"></div>
                    <div class="body">
                        <ul class="pricing text-center">
                            <li><span>Free One Year Domain</span></li>
                            <li><span>Free Installation</span></li>
                            <li><span>Free 1GB Linux Hosting</span></li>
                            <li><span>Unlimited Revision</span></li>
                            <li><span>Five Alternative Designs</span></li>
                            <li><span>Lifetime Support</span></li>
                            <li><span>Moneyback Guaranteed</span></li>
                        </ul>
                    </div>
                    <div class="separetor"></div>
                    <div class="footer text-center">
                        <p class="price">89</p>
                        <p><a href="/#" class="btn btn-default btn-outline-2">ORDER NOW</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pricing-table way" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                    <div class="header text-center">
                        <h4>FREE</h4>
                    </div>
                    <div class="separetor"></div>
                    <div class="body">
                        <ul class="pricing text-center">
                            <li><span>Free One Year Domain</span></li>
                            <li><span>Free Installation</span></li>
                            <li><span>Free 1GB Linux Hosting</span></li>
                            <li><span>Unlimited Revision</span></li>
                            <li><span>Five Alternative Designs</span></li>
                            <li><span>Lifetime Support</span></li>
                            <li><span>Moneyback Guaranteed</span></li>
                        </ul>
                    </div>
                    <div class="separetor"></div>
                    <div class="footer text-center">
                        <p class="price">00</p>
                        <p><a href="/#" class="btn btn-default btn-outline-2">ORDER NOW</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Pricing Area Ends -->}*
*{<!-- Fun Facts Area -->
<div class="fun-fact-area inner-padding" id="download">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="fun-item text-center way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <p class="digit">702</p>
                    <p class="title">App Download</p>
                    <p> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="fun-item text-center way" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                    <p class="digit">127</p>
                    <p class="title">Free Download</p>
                    <p> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="fun-item text-center way" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                    <p class="digit">327</p>
                    <p class="title">Best Award</p>
                    <p> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fun Facts Area Ends-->}*
<!-- Footer Area -->
<footer>
    <div class="footer-area way" id="contact" data-os-animation="fadeIn" data-os-animation-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="call-to-action way" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="row">
                            <div class="col-xs-12 col-sm-9">
                                <div class="cta-content">
                                    <h2>Идеальное приложение для <strong>Поиска недвижимости</strong>, <strong>Экономии времени и денег</strong>!</h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <a href="/#download" class="btn btn-default btn-outline btn-block">Скачать сейчас!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <img class="footer-logo" src="/public/images/logo.png" alt="Ubet footer Logo">
                        </div>
                        <div class="footer-body">
                            <p>Если у вас возникли вопросы или предложения, мы всегда открыты для вас!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <div class="footer-widget">
                        <div class="footer-body">
                            <p class="address"><span><i class="fa fa-map-marker fa-footer"></i></span><span>РК, г. Астана, ул. Кабанбай Батыра 111</span></p>
                            <p class="address"><span><i class="fa fa-email fa-footer"></i>+7 702 999 8634</span></p>
                            <p class="address"><span><i class="fa fa-envelope fa-footer"></i></span>info@ubet.kz</p>
                            <p class="address"><span><i class="fa fa-globe fa-footer"></i></span>www.ubet.kz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area Starts -->
<!-- Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <small> &copy; 2016 Smart Future</small>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Area Ends -->

<!-- Scripts -->
<script src="/public/cssKit/js/jquery-1.11.3.min.js"></script>
<script src="/public/cssKit/js/jquery.waypoints.min.js"></script>
<script src="/public/cssKit/js/jquery.counterup.min.js"></script>
<script src="/public/cssKit/js/bootstrap.min.js"></script>
<script src="/public/cssKit/js/owl.carousel.min.js"></script>
<script src="/public/cssKit/js/classie.js"></script>
<script src="/public/cssKit/js/bee3D.js"></script>
<script src="/public/cssKit/js/theme.js"></script>
</body>
</html>